<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="/var/www/html/dev/tests/unit/framework/bootstrap.php">
    <testsuites>
        <testsuite name="Tests">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>*</directory>
        </include>
    </coverage>
</phpunit>
